# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.pdb
*.ilk
*.ipdb
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/OpenCV_install/x86/vc16/bin/*.lib

# Executables
# *.exe
*.out
*.app

*.aps
*.filters
*.user
*.log
*.tlog
*.recipe
*.lastbuildstate
*.idb
*.res
*.BAK
*.txt
!bin/
!/OpenCV_install/x86/vc16/bin/*.dll

.vs/
Debug/
print/